body {
    font-family: 'Lato', sans-serif;
}

.bg-black {
    background-color: #262626;
}

.bg-dark {
    background-color: #2A2A2A;
}

.bg-red {
    background-color: #FF6760;
}

.c-gray {
    color: #616161;
}

.c-medium-gray {
    color: #BEBEBE;
}

.c-light-gray {
    color: #D9D9D9;
}

.c-red {
    color: #FF6760;
}