body {
    font-family: 'Lato', sans-serif;
}

/* backgrounds */

.bg-black {
    background-color: #262626;
}

.bg-dark {
    background-color: #2A2A2A;
}

.bg-red {
    background-color: #FF6760;
}

.bg-gray {
    background-color: #F8F8F8;
}

/* colors */

.c-gray {
    color: #616161;
}

.c-medium-gray {
    color: #BEBEBE;
}

.c-light-gray {
    color: #D9D9D9;
}

.c-red {
    color: #FF6760;
}

/* fonts */

.f-title {
    font-size: 30px;
    letter-spacing: .75px;
    font-weight: 900;
}

.f-sub-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 300;
    letter-spacing: .5px;
}