.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1114px;
    margin: 0 auto;
}

.logo {
    float: left;
    padding: 32px 0 32px;
}

.navigation {
    float: right;
    padding: 36px 0 39px;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    float: left;
}

.navigation li:not(:last-child) {
    margin-right: 50px;
}

.navigation li a {
    text-decoration: none;
    font-weight: 900;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.325px;
    text-transform: uppercase;
}

.main {
    padding: 44px 0 58px;
    text-align: center;
}

.main h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: .83;
    letter-spacing: 1.5px;
    margin-bottom: 38px;
}

.main h1 b {
    font-weight: 900;
}

.main p {
    font-weight: 300;
    font-size: 40px;
    line-height: 1.75;
    letter-spacing: 1px;
    margin-bottom: 54px;
}

.main a {
    color: #ffffff;
    padding: 17px 40px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.services {
    padding: 96px 0 90px;
}

.services ul {
    list-style: none;
}

.services ul li {
    float: left;
    width: 25%;
    text-align: center;
}

.services .icon {
    height: 68px;
    line-height: 68px;
    margin-bottom: 28px;
}

.services .icon img {
    display: inline-block;
    vertical-align: middle;
}

.services h4 {
    margin-bottom: 5px;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 0.45px;
}

.services li {
    padding: 0 29px;
}

.services li:first-child {
    padding-left: 0;
}

.services li:last-child {
    padding-right: 0;
}

.services p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.71;
}

.features {
    padding-top: 66px;
    margin-bottom: 95px;
}

.features > p,
.features > h3 {
    text-align: center;
}

.features > h3 {
    margin-bottom: 32px;
}

.features-posts {
    margin-top: 50px;
}

.features-post {
    width: 33.333%;
    float: left;
}

.features-post:first-child > div {
    margin-right: auto;
    margin-left: unset;
}

.features-post > div {
    margin: 0 auto;
    width: 300px;
}

.features-post:last-child > div {
    margin-left: auto;
    margin-right: unset;
}

.features-post p {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.features-post h4 {
    letter-spacing: 0.45px;
    font-size: 30px;
    font-weight: 900;
    padding: 40px 0px 16px;
}

.footer-upper {
    padding: 46px 0 33px;
}

.footer-upper h5 {
    margin-bottom: 26px;
}

.footer-lower {
    font-size: 14px;
    padding: 47px 0;
    letter-spacing: 0.28px;
}

footer {
    text-align: center;
}