.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1114px;
    margin: 0 auto;
}

.logo {
    float: left;
    padding: 32px 0 32px;
}

.navigation {
    float: right;
    padding: 36px 0 39px;
}

.navigation ul {
    list-style: none;
}

.navigation li {
    float: left;
}

.navigation li:not(:last-child) {
    margin-right: 50px;
}

.navigation li a {
    text-decoration: none;
    font-weight: 900;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.325px;
    text-transform: uppercase;
}

.main {
    padding: 44px 0 58px;
    text-align: center;
}

.main h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: .83;
    letter-spacing: 1.5px;
    margin-bottom: 38px;
}

.main h1 b {
    font-weight: 900;
}

.main p {
    font-weight: 300;
    font-size: 40px;
    line-height: 1.75;
    letter-spacing: 1px;
    margin-bottom: 54px;
}

.main a {
    color: #ffffff;
    padding: 17px 40px;
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
}